[DEFAULT]

[build]
docker = /home/torsten/Entwicklung/docker/ringo2-dev
ansible = /home/torsten/Entwicklung/ringo-apps/ringocore/ansible
ssh = ~/.ssh/id_rsa.pub
    # path/to/second/key
    # path/to/third/key

[service:ringo_auth]
